.App {
  text-align: center;
}

canvas {
  border: 3px solid black;
  cursor: url("https://isso5235.github.io/calligraphy/fude_996_80.png") 0 60, auto;
}

.Paint {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.Title {
  font-size: 24px;
  margin: 8px 0;
}